{% include 'includes_root/header.html' %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <div>
                <h1 class="h2"><span class="text-muted">Inventaires ></span> <span class="text-muted">Liste des Fournisseurs (10) > Ajouter un Fournisseur</span></h1>
                <p class="text-info">Tous les champs sont obligatoires sauf mentionnés <span class="text-primary">Optionnels</span></p>
            </div>
        </div>
        <!-- Starting Table -->
        <div class="container-fluid py-4">
            <form action="" class="form" method="POST">
                {% csrf_token %}
                
                {{ form.errors }}
                <div class="form-group">
                    <label for="name">Nom</label>
                    <input type="text" class="form-control" name="name">
                </div>

                <div class="form-group">
                    <label for="contact">Contact</label>
                    <input type="text" class="form-control" name="contact">
                </div>

                <div class="form-group">
                    <label for="adress">Adresse</label>
                    <input type="text" class="form-control" name="adress">
                </div>

                <button class="btn btn-outline-primary">Envoyer</button>

            </form>
        </div>
    </main>

{% include 'includes_root/footer.html' %}
