{% load static %}
  </div>
</div>

</body>
</html>
<!-- Bootstrap core JavaScript
================================================== -->

<!-- Graphs -->
<!-- <script src="{% static 'node_modules/chart.js/dist/chart.js' %}"></script>

<script>
  let ctx = document.getElementById("myChart")
  let myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
      datasets: [{
        data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false,
      }
    }
  })
</script> -->